.iconBox {
  height: var(--icon-box-size);
  width: var(--icon-box-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-hover-bg);
    .lucideIcon {
      color: var(--color-primary);
    }
  }
}

.activeIconBox {
  background-color: var(--color-hover-bg);
  .lucideIcon {
    color: var(--color-primary);
  }
}

.lucideIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  user-select: none;
  line-height: 1;
  color: inherit;

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
