:root {
  :global {
    // 切换主题时避免 background-color 过渡闪烁
    .ant-input,
    .ant-input-password {
      transition: all var(--motion-duration-mid) var(--motion-ease-in-out), background-color 0s;
    }
    .ant-btn {
      transition: all var(--motion-duration-mid) var(--motion-ease-in-out), background-color 0s;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      transition: all var(--motion-duration-mid) var(--motion-ease-in-out), background-color 0s;
    }
  }
}
