@import '../../styles/var.less';

.box {
  .f-icon-button();
}

.settingIcon {
  color: var(--color-icon);

  &:hover {
    color: var(--color-primary);
  }
}

// .setText {
//   color: var(--custom-primary);
//   font-size: 16px;

//   &:hover {
//     text-decoration: underline;
//   }
// }

.title {
  font-size: 14px;
  margin-bottom: 10px;

  i {
    margin-left: 10px;
    color: var(--color-primary);
  }
}

.content {
  margin-bottom: 15px;
}

.modalBox {
  display: flex;
  margin: -16px;
  height: 70vh;
  overflow-y: auto;
  border-radius: var(--border-radius-l-g);
}

.menus {
  width: 200px;
  padding: 16px 12px;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  border-right: 1px solid var(--color-border-secondary);

  .menusTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--color-text);
    padding: 4px 12px 12px;
  }

  .menuItem {
    margin: 2px 0;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-text);
    transition: all 0.2s;

    .prefixIcon {
      margin-right: 8px;
    }

    .rightSlot {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    .rightSlotAbout {
      i {
        font-size: 16px;
        color: var(--color-error);
      }
    }

    &:hover {
      background-color: var(--control-item-bg-hover);
    }
  }

  .activeMenu {
    color: var(--color-primary);
    background-color: var(--control-item-bg-active);
    font-weight: 500;
  }
}

.menuContent {
  min-height: 400px;
  padding: 16px 24px;
  flex: 1;
  overflow-y: auto;

  .menuContentTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--color-text);
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border-secondary);
    margin-bottom: 16px;
  }
}