.screeningResult{
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 32px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e6e9f2;
  border-radius: 0;
  background: #fbfcff;
  box-shadow: none;
  .whereBox,.orderByBox{
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 0 8px;
    box-sizing: border-box;
    &:first-child {
      border-right: 1px solid #e6e9f2;
    }
    .titleBox{
      display: flex;
      align-items: center;
      margin-right: 8px;
      width: fit-content;
      flex-shrink: 0;
    }
    .titleIcon{
      margin-right: 4px;
    }
    .title{
      color: #635bff;
      flex-shrink: 0;
      font-weight: 600;
      font-size: 12px;
    }
    .activeTitle{
      color: #4f46e5;
    }
    .monacoEditor{
      flex: 1;
      height: 100%;
      width: 0px;
    }
  }
  :global {
    .decorationsOverviewRuler{
      display: none !important;
    }
  }
}
