.consoleOptionsWrapper {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 8px;
  gap: 2px;
}

.toolBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-text);

  &:hover {
    background-color: var(--control-item-bg-hover);
  }

  i {
    font-size: 16px;
  }
}

.toolBtnPrimary {
  color: var(--color-primary);
}
